#splash-background{
    -fx-background-image : url("splash.jpg");
    -fx-background-size : 300,800;
    -fx-background-repeat: none,none;
    -fx-background-position: center;
}
#inventorybg{
    -fx-background-image : url("inventory.jpg");
    -fx-background-color : #ffffff;
    -fx-background-size : 200,275;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#salesorderbg{
    -fx-background-image : url("salesorder.jpg");
    -fx-background-color : #ffffff;
    -fx-background-size : 200,275;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#customersbg{
    -fx-background-image : url("customer.jpg");
    -fx-background-color : #ffffff;
    -fx-background-size : 200,275;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}